@model X.PagedList.IPagedList<prjLookday.ViewModels.CAvgReviewViewModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "活動評分列表";
}

<h1 class="text-center mb-3">行程評論列表</h1>
@using (Html.BeginForm("List", "Review", FormMethod.Get))
{
    <div class="d-flex justify-content-md-center mb-3">
        <div class="col-md-2">
            <input class="form-control" type="text" name="txtKeyword" placeholder="輸入關鍵字" value="@ViewBag.txtKeyword" />
        </div>
        <div class="col-md-1">
            @Html.DropDownList("ratingFilter", new List<SelectListItem>
        {
        new SelectListItem { Text = "所有評分", Value = "", Selected = ViewBag.RatingFilter == "" },
        new SelectListItem { Text = "4 顆星以上", Value = "4andAbove", Selected = ViewBag.RatingFilter == "4andAbove" },
        new SelectListItem { Text = "0~3.9 顆星", Value = "0to3_9", Selected = ViewBag.RatingFilter == "0to3_9" }
        }, new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-warning">搜尋</button>
        </div>
    </div>
}

<div class="table-responsive">
    <table border="1" class="table table-hover table-sm table-bordered rounded" style="background-color:white; color:dimgray">
        <thead>
            <tr style="color:white; background-color:darkorange; text-align:center">
                <th style="width: 5%;">序號</th>
                <th style="width: 20%;">名稱</th>
                <th style="width: 16%;">照片</th>
                <th style="width: 30%;">行程描述</th>
                <th style="width: 6%;">平均評分</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = (Model.PageNumber - 1) * Model.PageSize;
                foreach (var item in Model)
                {
                    count++;
                    <tr style="text-align:center">
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td data-id="@item.ActivityID" class="review-link">
                            @if (item.Photo != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" class="rounded" style="width:130px; height:110px; object-fit:cover;" />
                            }
                        </td>
                        <td>@item.Description</td>
                        <td style="color:@(item.AverageRating < 4 ? "red" : "green"); font-size: 1.75rem;">@item.FormattedAvgRating</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="reviewModal" class="modal fade" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">活動評論</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="reviewModalBody" data-activity-id="">
            </div>
        </div>
    </div>
</div>

<div id="pagination" class="d-flex justify-content-center">
    <button id="prevPage" class="btn btn-warning btn-sm mx-2">上一頁</button>
    <span id="pageInfo" class="mx-2">第 @ViewBag.CurrentPage 頁，共 @ViewBag.TotalPages 頁</span>
    <button id="nextPage" class="btn btn-warning btn-sm mx-2">下一頁</button>
</div>
<p></p>

<style>
    .table th, .table td {
        vertical-align: middle;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".review-link").click(function () {
                var id = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("GetReviews", "Review")/' + id,
                    type: 'GET',
                    success: function (response) {
                        $("#reviewModalBody").html(response);
                        $("#reviewModalBody").data("activity-id", id); // 設置 activity-id
                        var modal = new bootstrap.Modal(document.getElementById('reviewModal'));
                        modal.show();
                    },
                    error: function () {
                        alert("載入評論失敗");
                    }
                });
            });

            $("#prevPage").click(function () {
                var currentPage = parseInt($("#pageInfo").data("current-page"));
                var keyword = $("input[name='txtKeyword']").val();
                var ratingFilter = $("select[name='ratingFilter']").val();
                if (currentPage > 1) {
                    var prevPage = currentPage - 1;
                    window.location.href = '@Url.Action("List", "Review")' + '?page=' + prevPage + '&txtKeyword=' + keyword + '&ratingFilter=' + ratingFilter;
                }
            });

            $("#nextPage").click(function () {
                var currentPage = parseInt($("#pageInfo").data("current-page"));
                var totalPages = parseInt('@ViewBag.TotalPages');
                var keyword = $("input[name='txtKeyword']").val();
                var ratingFilter = $("select[name='ratingFilter']").val();
                if (currentPage < totalPages) {
                    var nextPage = currentPage + 1;
                    window.location.href = '@Url.Action("List", "Review")' + '?page=' + nextPage + '&txtKeyword=' + keyword + '&ratingFilter=' + ratingFilter;
                }
            });

            $("#pageInfo").data("current-page", '@ViewBag.CurrentPage').text('第 ' + '@ViewBag.CurrentPage' + ' 頁，共 ' + '@ViewBag.TotalPages' + ' 頁');
        });
    </script>
}
