@model IEnumerable<prjLookday.Models.User>

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center mb-3">編輯會員檔案</h1>
@using (Html.BeginForm())
{
    <input class="form-control" type="text" name="txtKeyword" placeholder="輸入關鍵字" />
}
<p class="text-end mb-3">
    <a asp-action="Create">新增用戶帳號</a>
</p>

<table border="1" class="table table-hover table-bordered">
    <thead>
        <tr style="color:white; background-color:darkorange; text-align:center">
            <th>
                序號
            </th>
            <th>
                頭貼
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                功能
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) 
            {
                count++;
                <tr style="text-align:center">
        <td>
            @count
        </td>
        <td>

        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    @Html.ActionLink("修改", "Edit", "User", new {id = item.UserId},  new { @class = "btn btn-success" }) | 
                    @Html.ActionLink("刪除", "Delete", "User", new{id = item.UserId}, new { onclick = "return confirm('確定要刪除沒錯嗎?')", @class = "btn btn-danger" })
            </td>
        </tr>
}
}
    </tbody>
</table>
